.container-left {
  max-width: calc(100% - 32px);
  margin: 0 auto;
}

/* sm */
@media (min-width: 640px) {
  .container-left {
    max-width: calc(640px - 32px) !important;
    margin: 0 auto;
  }
}

/* md */
@media (min-width: 768px) {
  .container-left {
    max-width: calc((768px) - 32px) !important;
    margin: 0 auto;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container-left {
    max-width: 100% !important;
    margin-left: calc((100vw - 1024px) / 2 + 16px) !important;
    padding-right: 0;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container-left {
    max-width: 100% !important;
    margin-left: calc((100vw - 1280px) / 2 + 16px) !important;
    padding-right: 0;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container-left {
    max-width: 100% !important;
    margin-left: calc((100vw - 1536px) / 2 + 16px) !important;
    padding-right: 0;
  }
}
